@model R4RClientWeb.Models.R4RClients

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>R4RClients</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClientID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.first_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.first_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.last_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.last_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.country)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
